:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &::before{
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/assets/images/bg3_desktop.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: -4;
  }
}

.card {
  border-radius: 15px;
  background-color: #ffffff;
  width: 930px;
  height: 540px;
  margin: auto;
  margin-top: 109px;
  z-index: 10;
  padding-top: 36px;

  app-title-underline {
    margin: auto;
    margin-bottom: 50px;
    max-width: 750px;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

app-image-select,
app-text-select {
  flex: 1;
}

.background-image {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  opacity: 0;
}

app-button {
  margin: auto;
  margin-top: 55px;
  margin-bottom: 34px;
  z-index: 20;
}

.page {
  display: none;
  font-size: 10px;
  margin-left: 25px;
  margin-bottom: 11px;
}

@media (max-width: 575.98px) {
  .card {
    margin-top: 42px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 17px;
    width: auto;

    app-title-underline {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 30px;
    }
  }


  app-button {
    margin-top: 0;

    img {
      width: 88px;
      height: 23px;
    }
  }

  .page {
    display: block;
  }
}

// @media (max-width: 767.98px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}
