:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 20;
}

.option {
  cursor: pointer;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  border: solid 5px transparent;
  margin: 15px;
  z-index: 20;

  &.selected {
    border: solid 5px #d8e321;
  }

  &.unselected {
    opacity: 0.5;
  }
}

@media (max-width: 575.98px) {
  :host {
    // flex-direction: column;
    display: block;
  }

  .option {
    border-radius: 5px;
    height: 88px;
    margin: 15px 45px;
    // margin-left: 45px;
    // margin-right: 45px;
    width: auto;
    background-size: 100% auto;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  // .height4 {
  //   height: 25%;
  // }

  // .height3 {
  //   height: calc(100% / 3);
  // }

  // .height2 {
  //   height: 50%;
  // }
}
