html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 667px;
  font-family: 'NotoSansCJKtc';
  position: relative;
}

@font-face {
  font-family: 'NotoSansCJKtc';
  src: url('~/assets/font/NotoSansCJKtc-Regular.otf') format("truetype");
}

p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

*{
  max-width: 100vw;
}

*:focus {
  outline: none;
}

/* You can add global styles to this file, and also import other style files */
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// @media (max-width: 767.98px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991.98px) {
// }
@media (min-width: 768px) and (max-width: 1199.98px) {}

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199.98px) {
// }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and(max-width:1919) {}
