:host {
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  flex-direction: column;
  align-items: flex-start;
  max-width: 100vw;
  margin: auto;
  color: #4a5141;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    background-image: url('~/assets/images/home-footer.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: bottom center;
    z-index: -2;
    // min-width: 800px;
    pointer-events: none;
  }
}

p {
  margin-top: 4px;
}

.title {
  position: absolute;
  left: 20px;
  top: 20px;

  .place {
    width: 86px;
    display: inherit;
    margin-bottom: 5px;
  }

  .title2 {
    width: 300px;
    max-width: 100%;
    display: inherit;
  }
}

.gray {
  color: rgba(74, 81, 65, .75);
  font-size: 18px;
  margin: 2px 0;
  position: relative;
  margin-top: 9px;
}

.content {
  margin: auto;
  margin-top: 40px;
  width: 773px;
}

.place {
  display: flex;

  .location {
    color: #4a5141;
    opacity: 0.75;
  }
}

.head {
  text-align: center;

  img {
    width: 320px;
    height: 320px;
    margin-right: 69px;
  }
}

.describe {
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  position: relative;
  top: -40px;
}

.column {
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  flex-direction: column;
  position: relative;
}

app-title-underline {
  font-size: 36px;
  margin-bottom: 0;
  width: max-content;
  font-weight: 500;

  &::before {
    height: 71%;
  }
}

.border {
  border-radius: 10px;
  margin-top: 4px;
  margin-bottom: 10px;
  margin-bottom: 5px;
  width: 291px;
  height: 81px;
  border: solid 1px rgba(0, 0, 0, .16);

  .gray {
    padding: 0 21px;
  }

  app-title-underline {
    font-size: 24px;
    margin-left: 22px;
    font-weight: 500;
  }
}

.left {
  width: 450px;
  margin-right: 70px;
  flex: 1;
  font-size: 24px;
}

.friend-image {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -27px;
  right: 10px;
}

.option {
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  position: absolute;
  left: -250px;
  bottom: -92px;
}

.gift {
  &::before {
    content: '';
    display: block;
    background: url('~/assets/images/btn_bg.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 124px;
    height: 124px;
    position: absolute;
    right: -20%;
    z-index: -1;
    pointer-events: none;
  }
}

app-button {
  margin: 0 8px;
}

.fb {
  width: 70px;

  img {
    width: 45px;
  }
}



// moble
@media (max-width: 575.98px) {
  :host::after {
    background-image: url('~/assets/images/home-footer-mw.png');
  }

  p {
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: -3px;
  }

  .title {
    position: static;
    padding-top: 17px;
    display: flex;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    align-items: center;
    justify-content: center;
    width: 100%;

    .place {
      // height: 36px;
      // width: 24vw;
      width: 86px;
      display: inline-block;
    }

    .title2 {
      // width: 230px;
      width: 65vw;
      width: 194px;
      display: inline-block;
    }
  }

  .content {
    margin: 0 0 0 0;
    width: 100%;
  }

  .head {
    margin-right: 0;
    margin-top: 14px;

    img {
      width: 180px;
      height: 180px;
      margin-right: 0;
    }
  }

  .describe {
    flex-direction: column;
    top: 1px;
  }

  .column {
    padding: 0 20px;
    box-sizing: border-box;
  }

  .friend-image {
    width: 80px;
    height: 80px;
    bottom: -35px;
  }

  .gray {
    font-size: 14px;
  }

  app-title-underline {
    font-size: 26px;
    font-weight: 500;
  }

  .border {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 67px;
    margin-top: 25px;
    margin-bottom: -17px;

    .gray {
      padding: 0 15px;
    }

    app-title-underline {
      font-size: 18px;
      margin-left: 15px;
    }
  }

  .option {
    position: relative;
    top: 40px;
    left: initial;
    bottom: initial;
  }

  .gift,
  .again {

    img {
      width: 88px;
    }

    &::before {
      width: 76px;
      height: 76px;
    }
  }


  .fb {
    width: 42px;

    img {
      width: 28px;
    }
  }

  app-button {
    margin: 0 3px;
  }
}

// tablet
@media (min-width: 576px) and (max-width: 769px) {
  .content {
    width: 697px;
    margin: auto;
    margin-top: 123px;
  }

  .head img {
    margin: 0;
  }

  .describe {
    top: 0;
    margin-top: 52px;
  }

  .option {
    left: -315px;
    bottom: -135px;
  }

  .border {

    width: 293px;
    margin-right: 28px;
  }

  .left {
    margin-right: 35px;
  }

  .gray {
    margin: 0;
    margin-top: 9px;
  }
}

// large pc
@media (min-width: 1919px) {
  .content {
    width: 847px;
    margin: auto;
    margin-top: 60px;
  }

  .option {
    bottom: -130px;
  }
}
