:host {
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 165px;
  width: 615px;
  margin: auto;
  z-index: 20;
}

.option {
  max-width: 470px;
  border-radius: 10px;
  border: solid 2px #4a5141;
  border: solid 2px rgba(74, 81, 65, .15);
  color: #4a5141;
  font-size: 24px;
  font-family: 'NotoSansCJKtc';
  // height: 66px;
  flex:1 0 calc(50% - 14px);
  z-index: 20;
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  align-items: center;
  padding: 0 15px;
  margin: 7px;
  word-wrap: break-word;
  cursor: pointer;
  box-sizing: border-box;

  &.large {
    width: 470px;
  }

  &.small {
    width: 300px;
  }

  &.selected {
    background: #d8e321;
    border: solid 2px #d8e321;

    &:before {
      content: '';
      width: 28px;
      height: 28px;
      background: url('~/assets/images/icon_check.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      margin-right: 10px;
    }
  }

  &.unselected {
    opacity: 0.5;
  }

  &.font-small {
    font-size: 20px;
  }
}

/* You can add global styles to this file, and also import other style files */
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  :host {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    display: block;
  }

  .option {
    width: 100% !important;
    margin: 10px 0;
    font-size: 18px;
    height: 66px;

    &.font-small {
      font-size: 16px;
    }
  }
}

// @media (max-width: 767.98px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 769px) {
  :host {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .option {
    flex: 1 0 45%;
  }
}
