:host {
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  flex-direction: column;
  align-items: flex-start;
  width: 850px;
  max-width: 100vw;
  margin: auto;
  padding-top: 178px;
  box-sizing: border-box;
  height: 100%;

  &::before {
    content: '';
    width: 100vw;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background: url('~/assets/images/home-header.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -2;
    // min-width: 800px;
    pointer-events: none;
  }

  &::after {
    content: '';
    width: 100vw;
    height: 100%;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    background: url('~/assets/images/home-footer.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: bottom center;
    z-index: -2;
    // min-width: 800px;
    pointer-events: none;
  }

  h5 {
    font-size: 20px;
    font-weight: 500;
    font-family: NotoSansCJKtc;
    max-width: 659px;
    text-align: left;
  }
}

.place {
  margin-bottom: 9px;
  height: 36px;
}

.title2 {
  margin-bottom: 49px;
  width: 400px;
}

.cast {
  width: 215px;
  height: 87px;
}

.start-area {
  position: relative;
  width: 100%;

  app-button {
    position: absolute;
    right: 0;
    top: 13px;

    &::before {
      content: '';
      display: block;
      background: url('~/assets/images/btn_bg.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      width: 124px;
      height: 124px;
      position: absolute;
      right: -20%;
      z-index: -1;
      pointer-events: none;
    }
  }
}

// moble
@media (max-width: 575.98px) {
  :host {
    padding: 130px 10px 0;

    &::before {
      background-image: url('~/assets/images/home-header-mw.png');
    }

    &::after {
      background-image: url('~/assets/images/home-footer-mw.png');
    }

    h5 {
      font-size: 14px;
    }
  }

  .place {
    height: 36px;
  }

  .title2 {
    width: 310px;
    margin-bottom: 27px;
  }

  .start-area {
    width: 90%;

    app-button {

      &::before {
        width: 96px;
        height: 96px;
      }

      img {
        width: 88px;
        height: 23px;
      }
    }
  }

  .cast {
    width: 189px;
    margin-bottom: 98px;
  }

  app-title-underline img {
    width: 100%;
  }
}

// tablet
@media (min-width: 576px) and (max-width: 769px) {
  :host {
    width: calc(100vw - 178px);
    padding-top: 196px;

    h5 {
      max-width: 513px;
    }
  }

  .place {
    margin-bottom: 7px;
  }

  .title2 {
    margin-bottom: 40px;
  }

  .cast {
    margin-bottom: 216px;
  }

  app-title-underline {
    margin-bottom: 25px;
  }

  .start-area {
    app-button {
      top: 0;
      right: 13px;

      &::before {
        width: 144px;
        height: 144px;
        right: -17%;
      }
    }
  }
}

// large pc
@media (min-width: 1919px) {
  .cast {
    width: 272px;
    height: 110px;
  }

  .place {
    margin-bottom: 9px;
    height: 45px;
  }

  .title2 {
    margin-bottom: 66px;
    width: 500px;
  }

  :host {
    width: 1076px;
    padding-top: 264px;
  }

  app-title-underline img {
    width: 720px;
  }

  .start-area {
    width: 100%;

    app-button {
      top: 16px;
      right: 18px;

      img {
        width: 184px;
      }

      &::before {
        width: 180px;
        height: 180px;
      }
    }
  }
}
